::-webkit-scrollbar { width:15px; height: 10px; }  
::-webkit-scrollbar-track { background:#e3f2fd; }   
::-webkit-scrollbar-thumb { background: #86c9f3; }
::-webkit-scrollbar-corner { background-color: #8ecff7; }


a {
	text-decoration: none;
}

.desce {
    margin-top: 3%;
}

.demo {
	padding-bottom: 3rem;
}

#hero {
	width: 100%;
	height: 80vh;
	background: url("../img/hero.jpg") top center;
	background-size: cover;
	position: relative;
  }
  
  #hero:before {
	content: "";
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  }
  
  #hero .container {
	padding-top: 72px;
  }

  #hero h1 {
	margin: 0;
	font-size: 5rem;
	line-height: 56px;
	color: #fff;
  }
  
  #hero h2 {
	color: #eee;
	margin: 10px 0 0 0;
	font-size: 24px;
	font-family: "Poppins", sans-serif;
  }
  
  #hero .btn-get-started {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 35px;
	border-radius: 50px;
	transition: 0.5s;
	margin-top: 30px;
	border: 2px solid #fff;
	color: #fff;
  }
  
  #hero .btn-get-started:hover {
	background: #86c9f3;
	border: 2px solid  #86c9f3;
  }

.info_livro {
    padding-top: 1rem;
	color: #111111;
	line-height: 4px;
}

.info_livro b {
    font-size: 1.4rem;
    font-family: 'Cookie', cursive;
}

.capa_livro img {
    width: 25rem;
    height: auto;
}

.autor_resumo {
	border-top: 1px solid #f2f2f2;
	padding-top: 15px;
	text-align: left;
}

.autor_resumo ul li {
	font-size: 13px;
	color: #888888;
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	position: relative;
}

.autor_resumo ul li span {
	color: #111111;
}

.autor_resumo ul li:after {
	position: absolute;
	right: -14px;
	top: -2px;
	content: "|";
}

.autor_resumo ul li:last-child {
	margin-right: 0;
}

.autor_resumo ul li:last-child:after {
	display: none;
}

.citacao {
	border: 1px solid #e1e1e1;
	padding: 35px 40px;
	position: relative;
	margin: 35px 0;
}

.citacao p {
	font-size: 18px;
	color: #111111;
	line-height: 30px;
}

.citacao h6 {
    font-family: 'Archivo', 'Roboto', sans-serif;
	font-size: 15px;
	color: #888888;
	text-transform: uppercase;
}

.citacao i {
	font-size: 36px;
	color: #86c9f3;
	position: absolute;
	right: 40px;
	bottom: 35px;
}

.livros {
	padding-bottom: 90px;
}

.livros .section-title {
	margin-bottom: 70px;
}

.livros_item_pic {
	height: 180px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.livros_item_pic img {
	height: 175px;
	width: auto;
}

.livros_item_pic .ler-btn {
	height: 40px;
	width: 40px;
	background: #3150d8;
	border-radius: 50%;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	color: #ffffff;
}

.livros_item_text {
	padding-top: 20px;
}

.livros_item_text h5 {
	color: #111111;
	line-height: 26px;
	margin-bottom: 5px;
}

.livros_item_text ul li {
	font-size: 13px;
	list-style: none;
	display: inline-block;
	margin-right: 18px;
	color: #3150d8;
	position: relative;
}

.livros_item_text ul li:after {
	position: absolute;
	right: -12px;
	top: 2px;
	height: 17px;
	width: 1px;
	background: #888888;
	content: "";
}

.livros_item_text ul li:last-child {
	margin-right: 0;
	color: #888888;
}

.livros_item_text ul li:last-child:after {
	display: none;
}

.livros_slider .col-lg-3 {
	max-width: 100%;
}

.livros_slider.owl-carousel .owl-nav button {
	font-size: 18px;
	color: #888888;
	height: 50px;
	width: 25px;
	background: #ffffff;
	line-height: 50px;
	position: absolute;
	left: 15px;
	top: 22%;
}

.livros_slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: 15px;
}

.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}
.owl-carousel .owl-item img{display:block;}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}
.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

.resenha {
	text-indent: 3%;
	font-size: 16px;
	line-height: 31px;
}

footer {
	background-color: #86c9f3;
	bottom: 0;
}

.footer_text {
	text-align: center;
    font-size: small;
    color: #000;
}

.footer_text img {
    border-radius: 50%;
	vertical-align: middle;
    width: 3rem;
    height: 3rem;
}

@media (max-width: 992px) {
	#hero .container {
	  padding-top: 62px;
	}
}
@media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
}
@media (max-width: 768px) {
	#hero {
	  height: 100vh;
	}
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	}
}